section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  mat-grid-tile {
    background: white;
  }

  .btnfsize {
    --bs-btn-padding-x: 1px;
    --bs-btn-padding-y: 0px;
    --bs-btn-font-size: 9px;
  }
  .btnfsizeHexa {
    --bs-btn-padding-x: 1px;
    --bs-btn-padding-y: 0px;
    --bs-btn-font-size: 14px;
  }
  .colb {
    width: 186px;
    padding-right: 0px;
    padding-left: 0px;
  }
  